<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyClass</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link"
                     routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}"
                        routerLink="./">בית</a>
                    <a class="nav-item nav-link" routerLinkActive="active" routerLink="./msgs">הודעות</a>
                    <a class="nav-item nav-link" routerLinkActive="active" routerLink="./settings">הגדרות</a>
                    <a class="nav-item nav-link" routerLinkActive="active" routerLink="./friends">חברים</a>
                </div>
            </div>
        </div>
    </nav>
</section>
<router-outlet></router-outlet>